
.create {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}
.create h1 {
	text-align:center;
}
.create .create-btn {
	width: 100%;
	margin-top: 10px;
	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}
.create .create-btn:hover{
	background-color: #72DB5B;
}
.create input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.create input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.create .create-form {
	background-color: #ddd;
	width: 400px;
	height: 1000px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 100px;
	border-radius: 5px;
	padding-left:10px;
	padding-right:10px;
}
.create #uid-mess {
	color: red;
}

.create #pwd-mess {
	color: red;
}
.create #confirmpwd-mess {
	color: red;
}
.create .account {
	text-align: center;
}
.create .account a {
	text-decoration: none;
	color: black;
}
.create .account a:hover {
	color: #7C7C7C;
}